<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.offenhealth.hdmp.eshop.business.dao.EshopUserProMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.offenhealth.hdmp.eshop.bean.entity.EshopUserPro" id="eshopUserProMap">
        <result property="id" column="ID"/>
        <result property="projectId" column="PROJECT_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="status" column="STATUS"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastMUser" column="LAST_M_USER"/>
        <result property="lastMTime" column="LAST_M_TIME"/>
        <result property="version" column="VERSION"/>
    </resultMap>


    <select id="pageList" resultMap="eshopUserProMap">
        SELECT * FROM ESHOP_USER_PRO
        WHERE 1 = 1
        <if test="search != null and search.trim() != ''">
        </if>
    </select>


	<delete id="deleteBatch">
		delete from ESHOP_USER_PRO where ID in 
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>